/* Header Section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center ;

}
header h1{

}

nav ul{
  display: flex;
  list-style: none;
}

nav button{
  background: none;
}

/* footer section */
footer {
  display: flex;
  flex-direction: column;
  
}
footer ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}