/* Header Section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  color: aqua;
  background-color: black;

}
header h1{

}

nav ul{
  display: flex;
  list-style: none;
  color: aqua;
  border: 10px;
}

nav button{
  background: aquamarine;
}

/* footer section */
footer {
  display: flex;
  flex-direction: column;
  
}
footer ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

